<!DOCTYPE html>
<html ng-app="msApp">
    <head>
        <title>my-website</title>
        <meta name="description" content="my-website">
    </head>

    <body>
        <div ui-view="body" class="body-wrapper"></div>
    </body>
</html>